.icon-plus::before {
    content: url("/plus.svg");
}

.icon-checkmark::before {
    content: url("/checkmark.svg");
}

.icon-cancel::before {
    content: url("/cancel.svg");
}

.icon-urn::before {
    content: url("/urn.svg");
}