:root {
    --background-color: #0d0714;
    --text-color: #FFFFFF;
    --font-color: #9E78CF;
    --completed-color: #78CFB0;
    --border-color: #3E1671;
    --pale-border-color: #3E167195;
    --card-bg-color: #1d1825ab;
    --error-color: #cd3755;
    --pale-error-color: #cd375595;
    --transition: transform 0.4s ease;
}