@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
  --background-color: #0d0714;
  --text-color: #FFFFFF;
  --font-color: #9E78CF;
  --completed-color: #78CFB0;
  --border-color: #3E1671;
  --card-bg-color: #1d1825ab;
  --transition: transform 0.4s ease;
}
/* 
@media (prefers-color-scheme: dark) {
  :root {
    --card-border-rgb: 200, 200, 200;
  }
} */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--background-color);;
  color: var(--text-color);
  font-family: Inter;
  font-size: 16px;
  font-weight: 300;
}

button {
  all: initial;
  margin: 0;
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
  color: var(--font-color)
}

input {
  height: 40px;
  width: 100%;
  padding: 10px;
  border: 1px solid var(--border-color);
  border-radius: 10px;
  background: none;
  color: var(--text-color);
}

.icon-cancel::before {
  content: url("/cancel.svg");
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 30px;
}

.button:hover {
  transition: var(--transition);
  transform: scale(1.15);
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: auto;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 60px;
  width: 100%;
  max-width: 580px;
  margin: 50px;
  padding: 50px 65px;
  background-color: var(--card-bg-color);
  border-radius: 30px;
  z-index: 1;
}

.card__input {
  display: flex;
  align-items: center;
  gap: 8px;
  width: 100%;
  margin-bottom: 50px;
}

h2 {
  font-size: 16px;
  font-weight: 500;
}

.todo-text {
  color: var(--font-color);
}

.todo-text_completed {
  color: var(--completed-color);
  text-decoration: line-through;
}

.task-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* .task-container__title {

} */

.task-container__list {
  list-style: none;
  display: flex;
  flex-direction: column-reverse;
  /* gap: 16px; */
}

.task-container__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 22px;
  background-color: var(--background-color);;
  border-radius: 10px;
  margin-bottom: 16px;
}

.task-container__actions {
  display: flex;
  gap: 8px;
}



.circles{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  pointer-events: none;
}

.circles li{
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: hsla(0, 0%, 95%, 0.170);
  animation: animate 25s linear infinite;
  bottom: -150px;
  
}

.circles li:nth-child(1){
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}


.circles li:nth-child(2){
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles li:nth-child(3){
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.circles li:nth-child(4){
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circles li:nth-child(5){
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.circles li:nth-child(6){
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}

.circles li:nth-child(7){
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}

.circles li:nth-child(8){
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}

.circles li:nth-child(9){
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.circles li:nth-child(10){
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}



@keyframes animate {

  0%{
      transform: translateY(0) rotate(0deg);
      opacity: 1;
      border-radius: 0;
  }

  100%{
      transform: translateY(-1000px) rotate(720deg);
      opacity: 0;
      border-radius: 50%;
  }

}

@media (max-width: 767px) {
  .card {
    gap: 30px;
    margin: 20px;
    padding: 25px 30px;
  }
}

